
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIrmc.cshtml";
}
@using (Html.BeginForm("Index", "Event", FormMethod.Post))
{
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }


    <section class="section bg-light">
        <div class="container">
            <div class="row">
                @model IEnumerable<Web.Models.EventViewModel>
                @foreach (var p in Model)
                {
                    <div class="col-md-3 element-animate">
                        <div class="media d-block media-custom text-center">
                            @{string path = "~/Content/imageJee/" + p.image;}
                            <div style="width: 250px; height: 250px">
                                <img src="@Url.Content(path)" alt="Image Placeholder" class="img-fluid">
                            </div>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">@Html.DisplayFor(ModelItem => p.title) </h3>
                                <div style="width: 150px; height: 150px"> <p>@Html.DisplayFor(ModelItem => p.description)</p></div>
                                <p>
                                    Category: @Html.DisplayFor(ModelItem => p.cat)
                                </p>
                                <p>
                                    Capacity : @Html.DisplayFor(ModelItem => p.capacity)
                                </p>
                                <p> @Html.ActionLink("Learn More ", "Details", "Event", new { id = @Html.DisplayFor(ModelItem => p.id_Ev) }, null)</p>




                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>

}